body{
	top: 0px;
	height: 100%;
	margin: 0;
	
}
.top-container{
	border: 0px solid;
	width: 100%;
	height: 100px;
	position: relative;
	overflow: hidden;
}

.nav-container{
	border: 0px solid;
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: 	#3333CC;
}

.nav-ul{
	border: 0px solid red;
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: 	#3333CC;
}

li{
	float: left;
	border: 0px solid;
	border-right: 1px solid #bbb;
	border-right-width: 2px;
}

li a{
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 15px 36px;
	border: 0px solid;
	color: white;
	font-family: sans-serif;
	
}
li a:hover{
	background-color: #330000;
	
	color: white;
}
li:last-child{
	border-right: none;
}

.nav-fixed{
	position: fixed;
	margin: 0 auto;
	width: 100%;
	top:0;
} 

#container1{
	height: auto;
	border: 0px solid;
	text-align: center;	
}

#outline1{
	border: 0px solid red;
	margin: 50px;
}

#inner1{
	border: 0px solid;
	height: 410px;
	width: 400px;	
	display: inline-block;
	overflow: hidden;
	
}

#inner2{
	border: 0px solid ;
	height: 410px;
	width: 400px;	
	display: inline-block;
	overflow: hidden;

}

#inner1-head, #inner2-head{
	height: 40px;
	border: 1px solid #bbb;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bold;
}

#inner1-content, #inner2-content{
	height: 360px;
	border: 0.1px solid #bbb;
	text-align: justify;
	text-indent: 50px;
}

#container2{
	height: auto;
	border: 1px solid #bbb;
}

#slide-container{
	height: 300px;
	border: 0px solid green;
	/*width: auto;*/
}


#slide-head1,#slide-head2,#slide-head4,#slide-head3,#slide-head5 {
	width: 40px;
	height: 300px;
	border-right: 1px solid #778899;
	float: left;
	background-color: #7B68EE;
}

#slide-content1,#slide-content2,#slide-content3,#slide-content4,#slide-content5{
	border: 0px solid red;
	height: 300px;
	float: left; 
	width: auto;
	display: none;
}

#slide-head1 p, #slide-head2 p, #slide-head3 p, #slide-head4 p, #slide-head5 p{
	margin-top: 150px;
	font-weight: bold;
	color: white;
	/*font-size: 18px;*/
}

#container3{
	height: auto;
	border: 1px solid red;
	padding: 50px;
}

#img-container{
	height: 202px;
	border: 1px solid green;
	overflow-y: hidden;
	
}

#img-container div{
	margin-left: 65px;
	border: 1px solid;
	height: 200px;
	width: 200px;
	float: left;
	opacity: 0.5;
	/*transition-property: width;
	-webkit-transition-property: width;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;*/
}

#img-container div:hover{
	opacity: 1;
}

/*#img-container div:hover{
	width: 300px;
}*/


/*#test{

	width: 200px;
	height: 202px;
	border: 1px solid;
	position: absolute;
	margin-left: 600px;
}*/

#container4{
	border: 0px solid;
	height: auto;
	margin-top: 200px;
	/*padding: 0px 500px 0px 500px;*/

}

#login-container{
	border: 0.5px solid #bbb;
	height: auto;
	border-radius: 10px;
	width: 500px;
	
}

#login-head{
	border: 0px solid;
	height: 50px;
	background-color: #2196F3;
	/*border-radius: 10px;*/
}

#login-content{
	border: 0px solid #bbb;
	height: auto;
	/*display: none;*/
	padding: 50px;
	/*background-color:#f2f2f2;*/
	border-radius: 10px;

}

#login-content-main{
	line-height: 30px;
	border: 0px solid;
}

#login-head label{
	font-weight: bold;
	font-size: 40px;
	color: white;
}

#form-row1 label{
	font-size: 20px;
	font-weight: bold;
}

#form-row1 input{
	width: 100%;
	height: 40px;
	border-radius: 10px;
	outline: none;
	line-height: 60px;
}

#form-row1 input[type='text']:focus,input[type='password']:focus{
	border: 3px solid;
}

#form-button button{
	width: 100%;
	background-color: #555555;
	height: 50px;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;

}

#form-button button:hover{
	background-color: white;
	color: black;
}


#create-user-container{
	border: 0px solid green;
	height: 10px;
}

#create-user-container p{
	font-size: 15px;
	font-weight: bold;
}
